* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* OK so this is pretty janky, but I wanted to do it just to test my CSS and learn
The "cat" that is chasing the mouse is entirely in CSS
In order to do this, it is drawn over the canvas, using fixed position
You may notice that resizing the window messes this up until a refresh, since the game doesn't change dimension until refresh
The cat is basically drawn in a fixed way over the game, and then animated
I think there is absolutely no reason to do this except to test some CSS tech! */

#container {
  position: relative;

}

#container canvas, #cat {
  position:absolute;
}

canvas {
    display: block;
    background-image: linear-gradient(rgb(255, 255, 255,0.8), rgb(0, 0, 0)),
    url("maze1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: animatedBackground 20s linear infinite alternate;
}

#cat {
  position: fixed;
  bottom: 0;
  animation: animatedChaser 5s linear infinite alternate;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

/* This is where the cat is animated, bobbing in position and changing opacity */

@keyframes animatedChaser {
  0% {
    bottom: 0;
    left: -15px;
    opacity: 0.3;
  }
  60% {
    left: 0;
    opacity: 0.9;
  }
  100% {
    bottom: 60px;
    left: -30px;
    opacity: 0.3;
  }
  
}

/* 

 */
